<h2> Student list </h2>
<table class="table table-stripped">
    <thead>
        <tr>
            <th> Id </th>
            <th> Name </th>
            <th> Email </th>
            <th> Date of Birth </th>
            <th> Age </th>
            <th> Specialization </th>
            <th> Actions </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let student of students">
            <td> {{ student.id }} </td>
            <td> {{ student.name }} </td>
            <td> {{ student.email }} </td>
            <td> {{ student.dob }} </td>
            <td> {{ student.age }} </td>
            <td> {{ student.specialization }} </td>
            <td>
                <button (click)="updateStudent(student.id)" class="btn btn-info">Update</button>
                
                <button (click)="deleteStudent(student.id)" class="btn btn-danger" style="margin-left: 10px;">Delete</button>
            </td>
        </tr>
    </tbody>
</table>